/* homepage */
.task-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.task-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.task-details p.name {
  font-weight: 600;
  font-size: 1.2em;
}
.task-details p.timestamp {
  font-weight: 100;
  font-size: 0.9em;
}
.task-details p.name,
.task-details p.timestamp {
  margin: 0;
  color: #555;
}
.task-details span.check {
  top: 20px;
  right: 100px;
}
.task-details span.edit {
  top: 20px;
  right: 60px;
}
.task-details span.delete {
  top: 20px;
  right: 20px;
}
.task-details span.check,
.task-details span.edit,
.task-details span.delete {
  position: absolute;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new task form */
form.task-form label,
form.task-form input.name,
form.task-form input.error {
  display: block;
}
form.task-form input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form.task-form button.button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
form.task-form div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
form.task-form input.error {
  border: 1px solid var(--error);
}
